
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600&display=swap');


/* GENERAL */

* {
    margin : 0;
    box-sizing: border-box;
}

main{
    background: rgb(255,227,243);
    background: linear-gradient(0deg, rgba(255,227,243,1) 0%, rgba(208,229,255,1) 100%);
    min-height: 90vh;
    padding-top: 50px;
}

h1, h2
{
    font-family: 'Josefin Sans';
    font-weight: 500;
}

a {
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

a:hover{
    color: #c8bbda
}

p {
    font-family: 'Poppins';
    font-weight: 200;
}

/* NAVBAR */

nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
.nav-left{
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-left .a-liste-user {
    font-family: 'Poppins';
    

}

#forum-logo {
    background-color: #f6edf7;
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 0px 10px;
}



#nav-right a {
    font-family: 'Poppins';
    font-size: 15px;
    margin: 0px 20px;
}

.navbar-a-background{
    background-color: #f6edf7;
    padding: 5px 10px;
    border-radius: 5px;
}

@media screen and (max-width: 850px) {
nav {
    display: none;
}
}

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: white;
    position: relative;
    font-family: "Poppins";
    display: none;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: white;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: white;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: white;
    color: white;
  }
/* HOME */

#forum-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.contenu-home{
    background-color: white;
    margin: auto;
    max-width: 700px;
    padding: 20px;
    border-radius: 10px;
}

.home-login-links{
    margin-top: 50px;
}

.home-login-links a {

    background-color: white;
    padding: 10px;
    border-radius: 10px;

}

@media screen and (max-width: 850px) {
    nav {
        display: none;
    }

    .topnav {
        display: block;
    }
    }
/* LIST TOPICS & LIST TOPICS BY CATEGORIES*/

#list-topics{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

/*titre*/

.titre-page{
    background-color: white;
    padding: 8px 150px;
    border-radius: 10px;
    font-size: 15px;
    margin-bottom: 50px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

@media screen and (max-width: 850px) {
    .titre-page{
        padding: 8px 20px;
    }
}

/* Liste des topics */

.topic-list-details{
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    font-family: 'Poppins';
    margin-bottom: 50px;
    padding: 50px;
    
}

.th-topic-details{
    padding: 10px;
    background-color: #f6edf7;
}

.td-topic-details, .td-topic-details1{
    padding: 10px;
    text-align: center;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    
}

td i {
    font-size: 20px;
    color: black
}

th i {
    font-size: 20px;
}

.fa-trash-can{
    color: red;
}
/* form */

.add-topic-form{
    margin: 50px auto;
    background-color: white;
    border-radius: 10px;
   
    

}

.form-add-topic-top{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
    margin: 5px ;
}

.add-topic-h2{
    background-color: #f6edf7;
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
}

.form-input-topic-title{
    font-family: "Poppins";
    border: 0px;
    padding: 5px;
    background-color: #f7f7f7;
    

}

#list-topics input[type="text"]{
    width: 410px;
}



.form-select-category{
    font-family: "Poppins";
    border: 0px;
}

.form-add-topic-submit{
    font-family: "Poppins";
    font-weight: 600;
    border: 0px;
    background-color: #f6edf7;
    padding: 5px;
    border-radius: 5px;
    margin: 5px 0px;
}

.form-add-topic-textarea{
    border: 0px;
    padding: 5px;
    background-color: #f7f7f7;
    font-family: "Poppins";
    margin : 0px 8px 8px 8px;
    width: 745px;
    resize: vertical;
    height: 130px
}



@media screen and (max-width: 850px) {

    #list-topics input[type="text"]{
        width: 100px;
    }
        .topic-list-details{
            padding: 0px;
    }
    .form-add-topic-textarea{
        max-width: 100%;
        margin: 0px;
    }

    .add-topic-form{
        border-radius: 10px 10px 0px 0px;
        max-width: 80%;
    
    }

    #list-topics input[type="text"]{
        width: 100%;
        margin-top: 8px
        ;
    }
    .add-topic-form{
        padding: 0px 10px;
        }

    }


.security-p-topics{
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
}

.background-table{
    background-color: black;
}


@media (max-width: 850px){

    .responsive-table thead {
    display: none; 
    }
    
    .responsive-table tr{
    display: block;
    margin-bottom: 40px;
    }
    
    .responsive-table .td-topic-details {
    display: block;
    text-align: center;
    }
    

    .td-topic-details{
        box-shadow: none;
        padding: 5px;
    }

    .td-topic-details1{
        display: none;
        
    }

    .security-p-topics{
        margin-bottom: 30px;
        padding: 0px 20px;
    }

    td .fa-lock, .fa-message {
        background-color: #f6edf7;
        padding: 5px;
        border-radius: 10px;
        margin-bottom: 10px;

    }
    
    .bold-responsive{
        font-weight: 600;
    }
  
    }
/* LOGIN & REGISTER */

.security-page{
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    
    
}

.security-h1 {
    margin-top: 20px;
}


.security-page input[type="password"], .security-page input[type="text"]{
    font-family: "Poppins";
    padding: 8px;
    border: 0px;
    width: 200px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.security-page input[type="submit"]{
    margin: 50px 0px;
    border: 0px;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 15px;
    padding: 5px 50px;
    border-radius: 10px;
    background: #f5edf6;
}

.security-form-input{
    margin-top: 30px;
}

.security-p{
    font-weight: 600;
    font-size: 13px;
}

/*CATEGORIES*/

#categories-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-categories{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
}

.list-categories h1{
    text-align: center;
}

.list-categories p{
    font-size: 30px;
    margin: 15px 0px;
    background-color: #f6edf7;
    border-radius: 10px;
    padding: 5px 10px;
}

.list-categories a {
    font-size: 25px;
}


/* LIST POSTS*/

#list-posts-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 760px;

}

.body-message{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
}

.message-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.post-user-avatar{
    height: 20px;
    width: 20px;
}

.post-text{
    font-family: "Poppins";
    
}

.user-info-background{
    background-color: #f6edf7;
    border-radius: 10px;
    padding: 5px 10px;
}

.form-add-post-top{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 2px 8px;
    
}



.lock-topic{
    margin-bottom: 20px;
}

@media screen and (max-width: 850px) {
    #list-posts-page{
        padding: 10px
    }
}

/*LISTE DES UTILISATEURS */

.user-list-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 80%;
}

.user-list-page ul {

    font-family: "Poppins";
    list-style: none;
}

.contenu-user-list{
    text-align: center;
    background-color: white;
    padding: 20px;;
    border-radius: 10px;
    margin-bottom: 50px;
}

.user-list{
margin: 20px auto;
}

.fa-circle-check {
    color: green;
}

.fa-circle-half-stroke{
    color: yellow;
}

.fa-circle{
    color: orange;
}

.fa-circle-xmark{
    color: red;
}

.ban-level-title{
    font-weight: 600;
    margin-bottom: 30px;
}

.ban-level-legend{
    margin-bottom: 30px;
    text-align: center;
}

.bold{
    font-weight: 600;
}

.background-user td{
    background-color: black;
}

/* PROFILE*/

.profile-page{
    display: flex;
    justify-content: center;
    
    flex-direction: column;
    align-items: center;
    max-width: 60%;
    margin: auto;
}

.contenu-profile{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: white;
    padding : 30px;
    border-radius: 10px;
}



.contenu-profile input[type="text"]{
   border: 0px;
   background-color: #f7f7f7;
   padding: 6px;
   font-family: "Poppins";
}

.avatar {
    height: auto;
    width: 500px;
}

@media screen and (max-width: 850px) {
    .contenu-profile{
        width: 300px;
        
    }
    .avatar {
        height: auto;
        width: 250px;
        margin-bottom: 20px;
    }
}
/*FOOTER*/

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    gap: 40px;
}

@media (max-width: 700px){
    footer{
        flex-direction: column;
        height: 100%;
        margin: 20px 0px;
        gap: 10px;
    }
}

   